<h1>New listing</h1>
<% form_for :listing, @listing, :url => listings_path, :html => { :multipart => true} do |f| %>
  <%= render :partial => "listing_form", :locals => {:f => f} %>
  <p>
    <%= f.label "Room Snap" %>
    <%= f.file_field :snap %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', listings_path %>