
<h1>New Reservation</h1>

<% form_for(@reservation) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Guests Count :"%><br />
    <%= f.text_field :guests_count %>
  </p>
  <p>
    <%= f.label "Check In" %><br />
    <%= f.date_select :check_in %>
  </p>
  <p>
    <%= f.label "Check Out" %><br />
    <%= f.date_select :check_out %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', reservations_path %>