
<div class="span5">
  <% listing = Listing.find(@reservation.listing_id) %>
  <%= render listing %>
</div>
<div>
  <h1>New Reservation for <%= listing.name %></h1>

  <% form_for(@reservation) do |f| %>
    <fieldset>
      <%= render :partial => "reservations/reservation_form", :locals => {:f => f} %>
      <div class="control-group">
        <div class="controls">
          <%= f.submit 'Reserve', :class => "btn btn-success" %>
        </div>
      </div>
    </fieldset> 
    <%= f.hidden_field :listing_id, :value => params[:id] %>
  <% end %>

  <%= link_to 'Back', reservations_path %>
</div>