<p>
  <b>Name:</b>
  <%=h @listing.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @listing.address %>
</p>
<p>
  <b>Place:</b>
  <%=h @listing.place %>
</p>
<p>
  <%= image_tag @listing.snap.url %>
  <%= image_tag @listing.snap.url(:medium) %>
  <%= image_tag @listing.snap.url(:thumb) %>
</p>
  <p>
    <b>Price </b>
    <%= h @listing.price %>
  </p>

<p>
  <b>Available From:</b>
  <%=l @listing.availability_from, :format=>:long %>
</p>

<p>
  <b>Available Till:</b>
  <%=l @listing.availability_to, :format=>:long%>
</p>

<p>
  <b>Notice Period:</b>
  <%=h @listing.notice_period %>
</p>

<p>
  <b>Maximum Guests:</b>
  <%=h @listing.maximum_guests %>
</p>

<p>
  <b>Home Type:</b>
  <%=h @listing.home_type %>
</p>

<p>
  <b>Room Type:</b>
  <%=h @listing.room_type %>
</p>

<% if @listing.user_id == current_user.id %>
<%= link_to 'Edit', edit_listing_path(@listing) %>
<% else %>
<%= link_to 'Reserve', reserve_listing_path(@listing) %>
<% end %>

<% if @listing.user_id == current_user.id %>
<div class="span12">   
  <div class="widget stacked widget-table action-table">                
    <div class="widget-header">
        <i class="icon-th-list"></i>
        <h3>Reservations </h3>
    </div> <!-- /widget-header -->
    
    <div class="widget-content">            
      <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Reserved on</th>
                <th>Reservation Period</th>
                <th class="td-actions"></th>
            </tr>
        </thead>
        <tbody>
          <% @listing.reservations.each do |reservation| %>
            <%= render :partial => "reservation_listing_owner_table_template", :locals => {:reservation => reservation} %>
          <% end %>
        </tbody>
      </table>
    </div> <!-- /widget-content -->
  </div> <!-- /widget -->
</div>
<% else %>
<h3>Owner details</h3>
<% @user = User.find(@listing.user_id) %>
<%= render "users/user" %>
<% end %>
