<h1>Listings of <%= current_user.name%></h1>
<% @listings.each do |listing| %>
  <tr>
    <td><%=h listing.name %></td>
    <td><%=h listing.address %></td>
    <td><%= link_to 'Show', listing %></td>
    <% if current_user_is_listing_owner? listing %>
      <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
      <td><%= link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>