<div class="control-group">
	<%= f.label :guests_count, "Guests count  :", :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :guests_count, :class => "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :check_in, "Check In :", :class => "control-label" %>
	<div class="controls">
		<%= f.date_select :check_in, :class => "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :check_out, "Check Out :", :class => "control-label" %>
	<div class="controls">
		<%= f.date_select :check_out, :class => "input-xlarge" %>
	</div>
</div>