
<div class="span5">
	<% listing = Listing.find(@reservation.listing_id) %>
	<%= render listing %>
</div>
<div>

	<p>
	  <b>Check In:</b>
	  <%=h @reservation.check_in %>
	</p>

	<p>
	  <b>Check Out:</b>
	  <%=h @reservation.check_out %>
	</p>

	<p>
	  <b>Guests Count:</b>
	  <%=h @reservation.guests_count %>
	</p>

	<% if @reservation.user_id == current_user.id or listing.user_id == current_user.id %>
	<%= link_to 'Cancel reservation', listing, :confirm => 'Are you sure cancelling this reservation?', :method => :delete %>
	<%= link_to 'Edit', edit_reservation_path(@reservation) %>
	<% end %>
</div>
